In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [5]:
data = pd.read_csv('/Users/juliencarbonnell/Desktop/lab_files/marketing_customer_analysis.csv')

In [6]:
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [16]:
data.columns

Index(['Customer', 'State', 'Response', 'Coverage', 'Education',
       'Effective To Date', 'EmploymentStatus', 'Gender', 'Income',
       'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [43]:
#standardize names
data.columns = list(map(lambda x: x.lower().replace(' ', '_'), data.columns))

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   response                       9134 non-null   object
 3   coverage                       9134 non-null   object
 4   education                      9134 non-null   object
 5   effective_to_date              9134 non-null   object
 6   employmentstatus               9134 non-null   object
 7   gender                         9134 non-null   object
 8   location_code                  9134 non-null   object
 9   marital_status                 9134 non-null   object
 10  months_since_policy_inception  9134 non-null   int64
 11  number_of_open_complaints      9134 non-null   int64
 12  number_of_policies             9134 non-null   int64
 13  policy_type                    9134 non-null   object
 14  policy                         9134 non-null   object
 15  renew_offer_type               9134 non-null   object
 16  sales_channel                  9134 non-null   object
 17  vehicle_class                  9134 non-null   object
 18  vehicle_size                   9134 non-null   object
dtypes: int64(3), object(16)
memory usage: 1.3+ MB

In [18]:
import math
from sklearn.model_selection import train_test_split

In [29]:
num_data = data._get_numeric_data()
num_data

,Income,Monthly Premium Auto,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,56274,69,5,0,1
1,0,94,42,0,8
2,48767,108,38,0,2
3,0,106,65,0,7
4,43836,73,44,0,1
...,...,...,...,...,...
9129,71941,73,89,0,2
9130,21604,79,28,0,1
9131,0,85,37,3,2
9132,21941,96,3,0,3
9133,0,77,90,0,1

In [ ]:
#x-Y split solution
#X=data.drop('total_claim_amount', axis=1)
#y=data.total_claim_amount

In [25]:
# we drop some useless columns
#X=X.drop(columns=['customer', 'effective_to_date'])

X = np.concatenate((x_normalized, encoded), axis=1)
Y = Ydata

NameError: name 'encoded' is not defined

In [20]:
X_num = data.select_dtypes(include = np.number)
X_cat = data.select_dtypes(include = np.object)

In [21]:
from sklearn.preprocessing import Normalizer
transformer = Normalizer().fit(X_num)
x_normalized = transformer.transform(X_num)
print(x_normalized.shape)

(9134, 6)

In [22]:
from sklearn.preprocessing import StandardScaler
transformer = StandardScaler().fit(X_num)
x_standardized = transformer.transform(X_num)
print(x_standardized.shape)

(9134, 6)

In [23]:
#Train-test split
test = train_test_split(X,y, test_size=0.33, random_state=100)
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

NameError: name 'X' is not defined

In [ ]:
#normalise
#first numerical and categorical split

#X_num=X._get_numeric_data()
#X_cat=X.drop(columns=X_num.columns)

#print (X.shape, X_num.shape, X_cat.shape)  # check shape

In [ ]:
# numerical
#X_num.describe()

In [ ]:
# normalize (standard)
#from sklearn.preprocessing import StandardScaler

#X_scaled=StandardScaler().fit_transform(X_num)

In [ ]:
#def normalize(X):
   # X_mean=X.mean(axis=0)
   #X_std=X.std(axis=0)
   # X_std[X_std==0]=1.0
    #X=(X-X_mean)/X_std
   # return X

#X_num=normalize(X_num)
#X_num.head()

In [ ]:
#(X_num-X_scaled).sum().sum()  # check difference

In [ ]:
#Apply linear regression
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)
predictions = lm.predict(X_test)
r2_score(y_test, predictions)

In [ ]:
#Model validation
#description

In [ ]:
from sklearn.metrics import r2_score
from sklearn.model_selection import mean_squared_error

from sklearn.model_selection import mean_absolute_error

In [ ]:
#r2: R-Squared
r2 = r2_score(y_test, predictions)
r2

In [ ]:
#mse: Mean Squarred Error
mse = mean_squared_error(y_test, predictions)
print(mse)

In [ ]:
#rmse: Root Mean Squared Error
rmse = math.sqrt(mse)
print(rmse)

In [ ]:
#mae: Mean Absolute Error
mae = np.average(np.abs(y_true - y_pred))
print(mae)